@using Project_IHFF.Models;
@model LoginModel

<h2>Login</h2>
<hr />
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.LabelFor(x => x.email)    <br />
    @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.email, "",  new { @class = "text-danger" })
    <br />

    @Html.LabelFor(x => x.password) <br />
        @Html.PasswordFor(x => x.password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.password, "", new { @class = "text-danger" })
        <br />

    <input type="submit" class="btn btn-primary" value="Login" />
}