<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/custom.css")"
          rel="stylesheet" type="text/css" />
</head>
<body id="body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="nav">


                    <div class="navbar-collapse collapse">
                        <ul id="KleineTekstInNav" class="nav navbar-nav">
                            <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                            <li><img class="TaalVlag" src="img\engels.png" /></li>
                            <li><img class="TaalVlag" src="img\nl.png" /></li>

                        </ul>
                        <br />
                        <br />
                        <ul id="DikkeNavTekst" class="nav navbar-nav">
                            <li><a href='@Url.Action("Index", "Home")'><img id="logo" src="img\logo.png" /></a></li>
                            <li><a class="glyphicon glyphicon-home NavIcons" href='@Url.Action("Index", "Home")'></a></li>
                            <li>@Html.ActionLink("Film", "Index", "Film")</li>
                            <li>@Html.ActionLink("Restaurant", "About", "Home")</li>
                            <li>@Html.ActionLink("Specials", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Culture", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Personal programme", "Contact", "Home")</li>
                            <li><a id="ShoppingCart" class="glyphicon glyphicon-shopping-cart NavIcons" href='@Url.Action("Index", "ShoppingCart")'></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Content" class="container body-content">
        @RenderBody()
       
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
