@using Project_IHFF.Models;
@model List<Tickets>
@{
    ViewBag.Title = "Index";
}

<div id="WinkelWagenInhoud">
    <h1 id="Tickets">Tickets</h1>
    <ul id="ShoppingCartRegelKop">
        <li><h4>Event</h4></li>
        <li><h4>Time</h4></li>
        <li><h4>Day</h4></li>
        <li><h4>Amound</h4></li>
        <li><h4>Price</h4></li>
    </ul>
    @foreach (Tickets ticket in Model)
    {
        if (ticket is FilmTickets)
        {
           @Html.Partial("_FilmLines", ticket);
        }
        else if (ticket is RestaurantReservation)
        {
            @Html.Partial("_RestaurantLines", ticket);
        }
        else if (ticket is SpecialTicket)
        {
            @Html.Partial("_SpecialLines", ticket);
        }
    }
</div>
<h1 id="Totaalprijs">-€@ViewBag.Korting.ToString("N2")</h1>
<h1 id="Totaalprijs">€@ViewBag.TotaalPrijs.ToString("N2")</h1>

<p><a href="@Url.Action("Index", "Booth")" class="btn btn-primary btn-lg RekenAf-btn">Collect at booth &raquo;</a></p>
<br />
<p><a href="@Url.Action("Purchase", "ShoppingCart")" class="btn btn-primary btn-lg RekenAf-btn">Purchase tickets &raquo;</a></p>

