@using Project_IHFF.Models;
@using System.Collections.Generic;

@model IEnumerable<RestaurantViewModel>
<div class="col-md-12">
    <div class="contentBox notification whiteText">
        The cost for making a reservation is €10,- which will be deducted from the bill
    </div>
</div>
<div class="col-md-12">
    <div id="itemsContainer" class="restaurant">
        @foreach (RestaurantViewModel restaurant in Model)
        {
            <div class="contentBox">

                <div class="col-md-4 noPadd">
                    <img src="@restaurant.Image" style="height:13em" />
                </div>
                <div class="col-md-8 noPadd whiteText">
                    <div class="col-md-6">
                        <h1 class="title">@restaurant.Name</h1>
                        <h4 class="subTitle">@restaurant.Location</h4>
                        <p class="description">@restaurant.Description</p>
                    </div>
                    <div class="col-md-6">
                        <p class="times">Opening Times:<span class="OrangeText"> @restaurant.TimeOpen.ToString(@"hh\:mm") - @restaurant.TimeClosed.ToString(@"hh\:mm")</span></p>
                        <p>
                            <span class="glyphicon glyphicon-calendar"></span>
                            <select id="@("date"+restaurant.ItemId)">
                                <option value="-">-</option>
                                <option value="2017-03-20">Monday</option>
                                <option value="2017-03-21">Tuesday</option>
                                <option value="2017-03-22">Wednesday</option>
                                <option value="2017-03-23">Thursday</option>
                                <option value="2017-03-24">Friday</option>
                                <option value="2017-03-25">Saturday</option>
                                <option value="2017-03-26">Sunday</option>
                            </select>

                            <span class="glyphicon glyphicon-time"></span>
                            <select id="@("time"+restaurant.ItemId)">
                                <option value="-">-</option>
                                @{
                                    TimeSpan time = @restaurant.TimeOpen;
                                    TimeSpan finalTime = @restaurant.TimeClosed.Subtract(TimeSpan.FromHours(1.5)); //last reservation 1.5hour before closing time
                                    TimeSpan interval = TimeSpan.FromMinutes(30);
                                }
                                @while (time <= finalTime)
                                {

                                    <option value="@time.ToString(@"hh\:mm\:ss")">@time.ToString(@"hh\:mm")</option>
                                    time = time.Add(interval);
                                }

                            </select>

                        </p>

                        <span id="@("add"+restaurant.ItemId)" class="glyphicon glyphicon-plus-sign qtyBtn"></span>
                        <span id="@("qty"+restaurant.ItemId)">1</span>
                        <span id="@("min"+restaurant.ItemId)" class="glyphicon glyphicon-minus-sign qtyBtn"></span>
                        <a class="btn btn-default shopBtn shopBtnRestaurant" id="@("addToProgramme"+restaurant.ItemId)">To Programme</a>
                        <a class="btn btn-default shopBtn shopBtnRestaurant" id="@("addToCart"+restaurant.ItemId)">To shopping Cart</a>
                        <p>* €10.00 Reservation deposit.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
                                    }
        </div>
    </div>

<div id="shopPopupContent">
    <div class="messagePopup">The article is succesfully added to your <span id="shopPopupMessage"></span></div>
    <div class="btnsPopup">
        <a class="btn btn-default closePopup">Continue shopping</a>
        <a class="btn btn-default" id="shopPopupCart" href='@Url.Action("Index", "ShoppingCart")'>Go to cart</a>
        <a class="btn btn-default" id="shopPopupProgramme" href='@Url.Action("Index", "WishList")'>Go to programme</a>
    </div>
</div>



