@using Project_IHFF.Models;
@using System.Collections.Generic;

@model IEnumerable<ExhibitionViewModel>

@foreach (ExhibitionViewModel film in Model)
            {
    <div class="contentBox">
        <img src="@film.Image" />
                @film.Name
                @film.Actors
                @film.FilmId
                @film.StartTime
                <br />
                <a class="glyphicon glyphicon-plus-sign qtyBtn"></a>
                <a class="glyphicon glyphicon-minus-sign qtyBtn"></a>
                <a class="btn btn-default shopBtn" href='@Url.Action("Add", "ShoppingCart", new { id = @film.FilmId, Quantity = 3 }, null)'>To Programme</a>
                <a class="btn btn-default shopBtn" href='@Url.Action("Add", "ShoppingCart", new { id = @film.FilmId, Quantity = 3 }, null)'>To shopping Cart</a>

    </div>
}
