@using Project_IHFF.Models
@model FilmsViewModel

@Html.ValidationSummary()
@using (Html.BeginForm("_AddFilm", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <label>Name: </label>
            @Html.TextBoxFor(x => x.film.name, new { @class = "form-control" })
            <br />
            <label>Directors:</label>
            @Html.TextBoxFor(x => x.film.director, new { @class = "form-control" })
            <br />
            <label>Actors: </label>
            @Html.TextBoxFor(x => x.film.actors, new { @class = "form-control" })
            <br />
            <label>Location: </label>
            @Html.TextBoxFor(x => x.film.location, new { @class = "form-control" })
            <br />
            <label>Price: </label>
            @Html.TextBoxFor(x => x.film.price, new { @class = "form-control" })
            <br />
            <label>Capacity: </label>
            @Html.TextBoxFor(x => x.film.capacity, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <label>Description:</label>
            @Html.TextAreaFor(x => x.film.description, new { @class = "form-control", rows = "5" })
            <br />
            <label>Image:</label>
            <input id="UploadImage" title="Upload an image." type="file" name="upload"/>
        </div>
    </div>
    
    <br />

    <label>Exhibition:</label>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label>Starting Time:</label>
            
            @Html.TextBoxFor(x => x.exhibitions[0].startTime, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <label>Ending Time:</label>
            @Html.TextBoxFor(x => x.exhibitions[0].endTime, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control" })
        </div>
    </div>
    



    <br />
    <br />
    <div id="HiddenDiv">
        <label>Second Exhibition (Optional)</label>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Starting Time:</label>

                @Html.TextBoxFor(x => x.exhibitions[1].startTime, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control"})
            </div>
            <div class="col-md-4">
                <label>Ending Time:</label>
                @Html.TextBoxFor(x => x.exhibitions[1].endTime, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <br />

    <input type="button" id="VisibilityButton" name="show" value="+ Add second exhibition" onclick="showDiv()" class="btn btn-primary" />

    <input type="submit" value="Submit" class="btn btn-primary" />
}

<script type="text/javascript">
        function showDiv() {
            document.getElementById('HiddenDiv').style.display = "block";
            document.getElementById('VisibilityButton').value = "- Remove second exhibition";
            document.getElementById('VisibilityButton').onclick = function () { hideDiv() };
        }

        function hideDiv() {
            document.getElementById('HiddenDiv').style.display = "none";
            document.getElementById('VisibilityButton').value = "+ Add second exhibition";
            document.getElementById('VisibilityButton').onclick = function () { showDiv() };
        }
</script>
