@using Project_IHFF.Models
@model Restaurants

@Html.ValidationSummary()
@using (Html.BeginForm("_AddRestaurant"))
{
    <label>Name: </label>
    @Html.TextBoxFor(x => x.name)
    <br />
    <label>Description: </label>
    @Html.TextBoxFor(x => x.description)
    <br />
    <label>Location: </label>
    @Html.TextBoxFor(x => x.location)
    <br />
    <label>Reservation Cost:</label>
    @Html.TextBoxFor(x=>x.price)
    <br />
    <label>Opening Time: </label>
    @Html.TextBoxFor(x => x.timeOpen)
    <br />
    <label>Closing Time: </label>
    @Html.TextBoxFor(x => x.timeClosed)
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
}
