@using Project_IHFF.Models
@model Specials

@Html.ValidationSummary()
@using (Html.BeginForm("_AddSpecial"))
{
    <label>Name: </label>
    @Html.TextBoxFor(x => x.name)
    <br />
    <label>Description: </label>
    @Html.TextBoxFor(x => x.description)
    <br />
    <label>Location: </label>
    @Html.TextBoxFor(x => x.location)
    <br />
    <label>Host: </label>
    @Html.TextBoxFor(x => x.host)
    <br />
    <label>Capacity: </label>
    @Html.TextBoxFor(x => x.capacity)
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
}
