@using Project_IHFF.Models
@model Specials

@Html.ValidationSummary()
@using (Html.BeginForm("_AddSpecial"))
{
    <label>Name: </label>
    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
    <br />
    <label>Description: </label>
    @Html.TextBoxFor(x => x.description, new { @class = "form-control" })
    <br />
    <label>Location: </label>
    @Html.TextBoxFor(x => x.location, new { @class = "form-control" })
    <br />
    <label>Host: </label>
    @Html.TextBoxFor(x => x.host, new { @class = "form-control" })
    <br />
    <label>Capacity: </label>
    @Html.TextBoxFor(x => x.capacity, new { @class = "form-control" })
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
}
