@using Project_IHFF.Models
@model Restaurants

<div class="addPageTitle">
    <h2>Edit Restaurant</h2>
</div>



@Html.ValidationSummary()
@using (Html.BeginForm("EditRestaurant", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <label>Name: </label>
            @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
            <br />
            <label>Location: </label>
            @Html.TextBoxFor(x => x.location, new { @class = "form-control" })
            <br />
            <label>Reservation Cost:</label>
            @Html.TextBoxFor(x => x.price, new { @class = "form-control" })
            <br />
            <label>Opening Time: </label>
            @Html.TextBoxFor(x => x.timeOpen, new { @class = "form-control" })
            <br />
            <label>Closing Time: </label>
            @Html.TextBoxFor(x => x.timeClosed, new { @class = "form-control" })
            <br />
        </div>

        <div class="col-md-4">
            <label>Description: </label>
            @Html.TextAreaFor(x => x.description, new { @class = "form-control", rows = "5" })
            <br />
            <label>Image:</label>
            <input id="UploadImage" title="Upload an image." type="file" name="upload" />
            <img src="@Model.imagePath" alt="Item image" class="itemImage" />
        </div>
    </div>
    <br />
    <div class="cmsButtonGroup">
        <input type="submit" value="Submit" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Restaurants", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "DeleteRestaurant", new { id = Model.id }, new { @class = "btn btn-danger" })
    </div>
    
}
