
<h2>Manage Content</h2>

<div class="container">
    <div class="row">
        <div class="cmsMenuRow">
            @Html.ActionLink("Add Films", "AddFilm", "Admin", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Add Specials", "AddSpecial", "Admin", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Add Restaurants", "AddRestaurant", "Admin", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Edit Films", "Films", "Admin", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit Specials", "Specials", "Admin", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit Restaurants", "Restaurants", "Admin", null, new { @class = "btn btn-primary" })
</div>